<a href="https://colab.research.google.com/github/amaljithpapi/Python/blob/main/Casestudy_on_Pandas_(adult_data).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

read the data

In [2]:
df = pd.read_csv('/content/adult.csv')

Display the first 5 rows of the dataset.

In [3]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688.0,0.0,40.0,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0.0,0.0,30.0,United-States,<=50K

summary of the DataFrame

In [4]:
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9615 entries, 0 to 9614
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              9615 non-null   int64
 1   workclass        9615 non-null   object
 2   fnlwgt           9615 non-null   int64
 3   education        9615 non-null   object
 4   educational-num  9615 non-null   int64
 5   marital-status   9615 non-null   object
 6   occupation       9615 non-null   object
 7   relationship     9615 non-null   object
 8   race             9614 non-null   object
 9   gender           9614 non-null   object
 10  capital-gain     9614 non-null   float64
 11  capital-loss     9614 non-null   float64
 12  hours-per-week   9614 non-null   float64
 13  native-country   9614 non-null   object
 14  income           9614 non-null   object
dtypes: float64(3), int64(3), object(9)
memory usage: 1.1+ MB

(9615, 15)

descriptive statistics for numeric columns

In [5]:
df.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,9615.000000,9.615000e+03,9615.000000,9614.000000,9614.000000,9614.000000
mean,38.732397,1.882881e+05,10.080291,1121.998232,87.926669,40.522987
std,13.842364,1.051318e+05,2.562674,7890.578253,404.085647,12.416221
min,17.000000,1.376900e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.154725e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.778390e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.374070e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,3770.000000,99.000000

Display the column names of the DataFrame.

In [6]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

unique values in the 'workclass' column.

In [7]:
df['workclass'].unique()

array(['Private', 'Local-gov', '?', 'Self-emp-not-inc', 'Federal-gov',
       'State-gov', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

Create a new column 'income_binary' where <=50K is 0 and >50K is 1.

In [8]:
df['income'] = pd.to_numeric(df['income'], errors='coerce')
df['income_binary'] = np.where(df['income'] <= 50000, 0, 1)
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,income_binary
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,NaN,1
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,NaN,1
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,NaN,1
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688.0,0.0,40.0,United-States,NaN,1
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0.0,0.0,30.0,United-States,NaN,1

Create a new column 'age_group' categorizing ages into 'Youth' (< 30), 'Adult' (30-60), and 'Senior' (60+).

In [9]:
def age_group(age):
  if age < 30:
    return 'Youth'
  elif 30 <= age <= 60:
    return 'Adult'
  else:
    return 'Senior'

df['age_group'] = df['age'].apply(age_group)

Rename the 'educational-num' column to 'education_num'.

In [10]:
df.rename(columns={'educational-num': 'education_num'}, inplace=True)

Replace the missing values represented by '?' in 'workclass' and 'occupation' columns with 'Unknown'.

In [12]:
df['workclass'].replace('?', 'Unknown', inplace=True)
df['occupation'].replace('?', 'Unknown', inplace=True)

Find the total capital-gain for each gender.

In [13]:
df.groupby('gender')['capital-gain'].sum()

gender
Female    1948997.0
Male      8837894.0
Name: capital-gain, dtype: float64

Get the count of each marital-status category.

In [14]:
df['marital-status'].value_counts()

marital-status
Married-civ-spouse       4307
Never-married            3238
Divorced                 1303
Widowed                   330
Separated                 298
Married-spouse-absent     130
Married-AF-spouse           9
Name: count, dtype: int64

Find the mean hours-per-week worked by individuals in different education levels.

In [15]:
df.groupby('education')['hours-per-week'].mean()

education
10th            36.619048
11th            34.368715
12th            35.280992
1st-4th         40.812500
5th-6th         40.377551
7th-8th         37.177419
9th             39.594406
Assoc-acdm      41.668790
Assoc-voc       41.851942
Bachelors       42.325407
Doctorate       47.424528
HS-grad         40.776354
Masters         43.003670
Preschool       36.400000
Prof-school     48.041096
Some-college    39.102588
Name: hours-per-week, dtype: float64

Calculate the mean, median, and standard deviation of 'fnlwgt' for each race.

In [16]:
df.groupby('race')['fnlwgt'].agg(['mean', 'median', 'std'])

                             mean    median            std
race
Amer-Indian-Eskimo  116681.232323  114673.0   88607.255854
Asian-Pac-Islander  158650.441948  133530.0   94566.412684
Black               228617.442982  210910.0  119517.595083
Other               205809.543210  198956.0  109379.872676
White               185485.801575  176716.0  102561.587451

Get the unique values and their counts for the 'native-country' column

In [17]:
df['native-country'].value_counts()

native-country
United-States                 8681
Mexico                         186
?                              164
Philippines                     51
Germany                         41
Puerto-Rico                     41
India                           34
Canada                          34
El-Salvador                     30
Cuba                            28
England                         21
Poland                          20
Haiti                           20
South                           20
China                           19
Dominican-Republic              18
Portugal                        18
Guatemala                       17
Italy                           15
Jamaica                         15
Ecuador                         13
Columbia                        13
Japan                           12
Peru                            11
Thailand                        10
Nicaragua                        9
Taiwan                           7
Vietnam                          7
Greece                           7
Iran                             6
France                           6
Ireland                          6
Scotland                         5
Cambodia                         5
Honduras                         4
Yugoslavia                       4
Trinadad&Tobago                  4
Outlying-US(Guam-USVI-etc)       4
Hungary                          3
Hong                             3
Laos                             2
Name: count, dtype: int64

Filter the dataset to include only individuals with income >50K.

In [18]:
df[df['income'] > 50000]

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education_num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income, income_binary, age_group]
Index: []

Sort the dataset by age in descending order.

In [19]:
df.sort_values(by='age', ascending=False)

,age,workclass,fnlwgt,education,education_num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,income_binary,age_group
8427,90,Federal-gov,311184,Masters,14,Divorced,Prof-specialty,Not-in-family,White,Male,0.0,0.0,99.0,United-States,NaN,1,Senior
899,90,Private,149069,Assoc-acdm,12,Married-civ-spouse,Sales,Husband,White,Male,0.0,1825.0,50.0,United-States,NaN,1,Senior
7414,90,Private,227796,Assoc-acdm,12,Never-married,Exec-managerial,Not-in-family,White,Male,6097.0,0.0,45.0,United-States,NaN,1,Senior
3496,90,Self-emp-not-inc,83601,Prof-school,15,Widowed,Prof-specialty,Not-in-family,White,Male,1086.0,0.0,60.0,United-States,NaN,1,Senior
6976,90,Private,250832,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,2414.0,0.0,40.0,United-States,NaN,1,Senior
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8380,17,Private,262031,12th,8,Never-married,Other-service,Other-relative,White,Male,0.0,0.0,20.0,United-States,NaN,1,Youth
2725,17,Private,41865,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Female,0.0,0.0,5.0,United-States,NaN,1,Youth
8760,17,Unknown,27251,11th,7,Widowed,Unknown,Own-child,White,Male,0.0,0.0,40.0,United-States,NaN,1,Youth
9529,17,Private,110916,11th,7,Never-married,Sales,Own-child,White,Female,0.0,0.0,10.0,United-States,NaN,1,Youth
3309,17,Private,34465,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0.0,0.0,32.0,United-States,NaN,1,Youth

Filter the dataset to include only individuals who work more than 40 hours per week.

In [20]:
df[df['hours-per-week'] > 40]

,age,workclass,fnlwgt,education,education_num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,income_binary,age_group
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,NaN,1,Adult
14,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103.0,0.0,48.0,United-States,NaN,1,Adult
15,43,Private,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,50.0,United-States,NaN,1,Adult
19,40,Private,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0.0,0.0,45.0,?,NaN,1,Adult
20,34,Private,107914,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0.0,0.0,47.0,United-States,NaN,1,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9589,41,Private,304175,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,55.0,United-States,NaN,1,Adult
9601,43,Self-emp-not-inc,220647,Bachelors,13,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,2377.0,50.0,United-States,NaN,1,Adult
9602,18,Unknown,30246,11th,7,Never-married,Unknown,Own-child,White,Female,0.0,0.0,45.0,United-States,NaN,1,Youth
9603,33,Private,496743,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,88.0,United-States,NaN,1,Adult
9613,55,Private,127728,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0.0,0.0,50.0,United-States,NaN,1,Adult

Calculate the percentage of missing values in each column.

In [23]:
(df.isnull().sum() / len(df)) * 10

age                0.00000
workclass          0.00000
fnlwgt             0.00000
education          0.00000
education_num      0.00000
marital-status     0.00000
occupation         0.00000
relationship       0.00000
race               0.00104
gender             0.00104
capital-gain       0.00104
capital-loss       0.00104
hours-per-week     0.00104
native-country     0.00104
income            10.00000
income_binary      0.00000
age_group          0.00000
dtype: float64

Calculate the median income by education level and gender.

In [24]:
df.groupby(['education', 'gender'])['income'].median()

education     gender
10th          Female   NaN
              Male     NaN
11th          Female   NaN
              Male     NaN
12th          Female   NaN
              Male     NaN
1st-4th       Female   NaN
              Male     NaN
5th-6th       Female   NaN
              Male     NaN
7th-8th       Female   NaN
              Male     NaN
9th           Female   NaN
              Male     NaN
Assoc-acdm    Female   NaN
              Male     NaN
Assoc-voc     Female   NaN
              Male     NaN
Bachelors     Female   NaN
              Male     NaN
Doctorate     Female   NaN
              Male     NaN
HS-grad       Female   NaN
              Male     NaN
Masters       Female   NaN
              Male     NaN
Preschool     Female   NaN
              Male     NaN
Prof-school   Female   NaN
              Male     NaN
Some-college  Female   NaN
              Male     NaN
Name: income, dtype: float64

Find the top 3 occupations with the highest average capital-gain.

In [25]:
df.groupby('occupation')['capital-gain'].mean().nlargest(3)

occupation
Prof-specialty     3006.367430
Armed-Forces       2432.666667
Exec-managerial    2378.191261
Name: capital-gain, dtype: float64

Filter the dataset to include individuals who are 'Married-civ-spouse' and have an income >50K.

In [26]:
df[(df['marital-status'] == 'Married-civ-spouse') & (df['income'] > 50000)]

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education_num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income, income_binary, age_group]
Index: []